body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #ffd54f, #ff8a65);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
  }
  
  .MuiGrid-root {
    justify-content: center;
  }
  
  .MuiCard-root {
    max-width: 300px;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out;
  }
  
  .MuiCard-root:hover {
    transform: scale(1.05);
  }
  
  .MuiCardMedia-root {
    height: 200px;
    object-fit: cover;
  }
  
  .MuiCardContent-root {
    padding: 1rem;
  }